@model Producto
@*<div class="col">
    <div class="card Producto-card">
        
        <img src="~/imagenes/@Model.ImagenProducto" width="250" height="200" alt="@Model.NombreProducto">
        <div class="card-body pie-button">
            <h4 class="d-grid">
                <a class="btn btn-secondary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pieId="@Model.ProductoId"> + Add to cart</a>
            </h4>

            <div class="d-flex justify-content-between mt-2">
                <h2 class="text-start">
                    <a class="pie-link"
                       asp-controller="Producto"
                       asp-action="Details"
                       asp-route-id="@Model.ProductoId">@Model.NombreProducto</a>
                </h2>
                <h5 class="text-nowrap">
                    @Model.PrecioProducto.ToString("c")
                </h5>

            </div>
        </div>
    </div>
</div>*@




<!-- Start Single Product -->
<div class="card shadow">
    <div class="card-body">
        <div class="card-img-actions">

            <img src="~/imagenes/@Model.ImagenProducto" class="card-img " width="96" height="200" alt="@Model.NombreProducto">


        </div>
    </div>
    <div class="card-body bg-light text-center">
        <div class="mb-2">
            <h6 class="font-weight-semibold mb-2">
                <a class="pie-link"
                   asp-controller="Producto"
                   asp-action="Details"
                   asp-route-id="@Model.ProductoId">@Model.NombreProducto</a>
            </h6>

            
            <div class="text-muted">
                @Model.Categoria.NombreCategoria.ToString()
            </div>
            
        </div>

        <div class="rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
        </div>

        <div class="price">
            @Model.PrecioProducto.ToString("c")
        </div>

        <br >
        

        <div class="product-image">

            <div class="button">
                <a class="btn bg-cart" asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-ProductoId="@Model.ProductoId"><i class="bi bi-cart-plus"></i> + Agregar a Carrito</a>
            </div>
        </div>


    </div>
   
</div>
