@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p class="btn btn-success ">
    <a class="text-white" asp-action="CreateCategoria">Crear categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionCategoria)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="UpdateCategoria" asp-route-id="@item.CategoriaId">Edit</a> 
                     
                </td>
                <td>

                    <a class="btn btn-info" asp-action="detalleCategoria" asp-route-id="@item.CategoriaId">Details</a>
                </td>
                <td>
                   
                    <a class="btn btn-danger" asp-action="DeleteCategoria" asp-route-id="@item.CategoriaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
