@model ProductoListViewModel;

<section class="carousel slide" id="hero-carousel" data-bs-ride="carousel">
    <partial name="_Carousel"></partial>
</section>

<div class="text-center my-4">
    <div id="categorias">
        <button class="btn btn-warning btn-categoria btn-todos" data-id="todos">
            Mostrar Todos
        </button>
        @foreach (var categoria in Model.categorias)
        {
            <button class="btn btn-outline-warning btn-categoria" data-id="@categoria.CategoriaId">
                @categoria.NombreCategoria
            </button>
        }
    </div>
</div>




<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        @foreach (var Producto in Model.Productos)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mt-3 col-xs-12 widget" data-categoria="@Producto.CategoriaId">
                <partial name="_ProductoCard" model="Producto" />
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-categoria').click(function () {
            var categoriaId = $(this).data('id');
            if (categoriaId === 'todos') {
                $('.widget').show();
            } else {
                $('.widget').hide();
                $('.widget[data-categoria="' + categoriaId + '"]').show();
            }
        });
    });
</script>



@*@model ProductoListViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<section class="container seccion-productos">
    <div class="row">
        @foreach (var pie in Model.Productos)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="~/imagenes/@pie.ImagenProducto" width="250" height="200" alt="@pie.NombreProducto">

                        <div class="button">
                            <a href="#" class="btn"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">@pie.Categoria.NombreCategoria</span>
                        <h4 class="title">
                            <a class="pie-link" asp-controller="Producto" asp-action="Detalles" asp-route-id="@pie.ProductoId">@pie.NombreProducto</a>
                        </h4>
                       

                        <div class="price">
                            <span>$@pie.PrecioProducto</span>
                        </div>
                        <!--  <footer>

                            <h5>
                                De : @pie.Categoria.NombreCategoria
                            </h5>

                        </footer>-->
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        }
    </div>
</section>*@